.contact {
   min-height: 100vh;
   background-color: #1E1E20;
   display: flex;
   justify-content: center;
}

.blockTitle{

}

.formArea{
width: 100%;
}

.messageArea{
min-height: 160px;
   width: 100%;
}


.formWrapper{
   display: flex;
   flex-direction: column;
   width: 500px;
   align-items: center;

}

.container{
   width: 80%;
   border: 2px solid;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}


@media screen and (max-width: 638px)  {
   .formWrapper{
      width: 100%;
   }
}