.contact {
   min-height: 100vh;
   background-color: #99a2b2;
   display: flex;
   justify-content: center;
}

.container{
   width: 80%;
   border: 2px solid;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.contactInfo{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

input{
   width: 120%;
   height: 12%;
   margin-bottom: 5px;
}

textarea{
   width: 120%;
   height: 100px;
}

span{
   margin-bottom: 10px;
}
button {
   width: 200px;
   height: 30px;
   margin: 10px;
}