.greeting {
    min-height:  100vh;
    background-color: #1E1E20;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    border: 2px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.greetingText{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 40px;
    font-family: 'Passion One', cursive;
}

.helloName{
    font-size: 25px;
    font-family: 'Montaga', serif;
    font-weight: 700;
    font-stretch: normal;
    line-height: 1.2;
}

.hello{
    font-family: 'Montaga', serif;
    font-size: 25px;
    font-weight: 700;
    font-stretch: normal;
    line-height: 1.2;
}


.profilePhoto {
    height: 400px;
    width: 300px;
    background-color: #a1b27e;

}

@media screen and (max-width: 803px) {
    .greetingText {
    align-items: center;
        margin-top: 60px;
    }
    h1{
        font-size: 25px;
    }
    .hello{
        font-size: 20px;
    }
    .helloName{
        font-size: 20px;
    }
}

