


.firstSkill{
  background-color: #59b2ab;
  min-height: 450px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.firstSkill img{
  height: 80px;
  width: 80px;
}






